In [1]:
import pandas as pd

In [2]:
import json

In [3]:
x={'name':'tom','age':25,'location':'india'}
y=json.dumps(x)

In [4]:
y

'{"name": "tom", "age": 25, "location": "india"}'

In [5]:
x1="this is a beautiful place for spending time alone"
y1=json.dumps(x1)

In [6]:
y1

'"this is a beautiful place for spending time alone"'

In [7]:
y2=json.loads(y1)

In [8]:
y2[1]

'h'

In [9]:
y1[1]

't'

In [10]:
y3=json.loads(y)

In [11]:
y3["age"]

25

In [12]:
y3["name"]

'tom'

In [14]:
a1=open('example_2.json')

In [15]:
data=json.load(a1)

In [16]:
data

{'quiz': {'sport': {'q1': {'question': 'Which one is correct team name in NBA?',
    'options': ['New York Bulls',
     'Los Angeles Kings',
     'Golden State Warriros',
     'Huston Rocket'],
    'answer': 'Huston Rocket'}},
  'maths': {'q1': {'question': '5 + 7 = ?',
    'options': ['10', '11', '12', '13'],
    'answer': '12'},
   'q2': {'question': '12 - 8 = ?',
    'options': ['1', '2', '3', '4'],
    'answer': '4'}}}}

In [17]:
for i in data['quiz']:
    print(i)

sport
maths

In [23]:
for i in data:
    print(i)

quiz

In [26]:
print(data['quiz']['sport']['q1'])

{'question': 'Which one is correct team name in NBA?', 'options': ['New York Bulls', 'Los Angeles Kings', 'Golden State Warriros', 'Huston Rocket'], 'answer': 'Huston Rocket'}

In [27]:
print(data['quiz']['maths']['q2'])

{'question': '12 - 8 = ?', 'options': ['1', '2', '3', '4'], 'answer': '4'}

In [28]:
a1.close()

In [34]:
x={'name':'tom','age':25,'location':'india'}
y=json.dumps(x,indent=2)

In [35]:
with open("sample.json",'w') as outfile:
    outfile.write(y)

In [38]:
z=open('sample.json')

In [39]:
a5=json.load(z)

In [40]:
a5

{'name': 'tom', 'age': 25, 'location': 'india'}

In [41]:
type(a5)

dict

In [43]:
z.close()