In [4]:
#functions
def findstudent(name):
    if name in ('tom','krish','henry','mark','tata'):
        print("{} is a student of class 10".format(name))
    else:
        print("{} is not a student of class 10".format(name))
findstudent('tom')

tom is a student of class 10

In [2]:
findstudent(input("enter the student name"))

enter the student namekrish
krish is a student of class 10

In [5]:
findstudent(input("enter the student name"))

enter the student namejerry
jerry is not a student of class 10

In [7]:
type(4)

int

In [10]:
chr(66)

'B'

In [12]:
sum([25,65,45,33,0])

168

In [19]:
bool(1)

True

In [20]:
bool(0)

False

In [21]:
any([0,23])

True

In [23]:
all([0,23])

False

In [32]:
def findstudent(*name):
    for name in name:
        if name in ('tom','krish','henry','mark','tata'):
            print("{} is a student of class 10".format(name))
        else:
            print("{} is not a student of class 10".format(name))
findstudent('mark','sai','biden','tata')

mark is a student of class 10
sai is not a student of class 10
biden is not a student of class 10
tata is a student of class 10

In [41]:
def print1ton(n):
    if (n==1):
        print("{}\n".format(n))
    else:
        print1ton(n-1)
        print("{}\n".format(n))
print1ton(10)

1

2

3

4

5

6

7

8

9

10

In [43]:
print1ton(1)

1