https://github.com/Saikrishnaraju0510/training/blob/main/exp1.py 
uploaded module file in the above link

In [2]:
from exp1 import *

In [64]:
import exp1
dir()

['In',
 'MAXYEAR',
 'MINYEAR',
 'Out',
 '_',
 '_23',
 '_24',
 '_28',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_dh',
 '_i',
 '_i1',
 '_i10',
 '_i11',
 '_i12',
 '_i13',
 '_i14',
 '_i15',
 '_i16',
 '_i17',
 '_i18',
 '_i19',
 '_i2',
 '_i20',
 '_i21',
 '_i22',
 '_i23',
 '_i24',
 '_i25',
 '_i26',
 '_i27',
 '_i28',
 '_i29',
 '_i3',
 '_i30',
 '_i31',
 '_i32',
 '_i33',
 '_i34',
 '_i35',
 '_i36',
 '_i37',
 '_i38',
 '_i39',
 '_i4',
 '_i40',
 '_i41',
 '_i42',
 '_i43',
 '_i44',
 '_i45',
 '_i46',
 '_i47',
 '_i48',
 '_i49',
 '_i5',
 '_i50',
 '_i51',
 '_i52',
 '_i53',
 '_i54',
 '_i55',
 '_i56',
 '_i57',
 '_i58',
 '_i59',
 '_i6',
 '_i60',
 '_i61',
 '_i62',
 '_i63',
 '_i64',
 '_i7',
 '_i8',
 '_i9',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'acos',
 'acosh',
 'addnum',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'comb',
 'copysign',
 'cos',
 'cosh',
 'date',
 'datetime',
 'datetime_CAPI',
 'degrees',
 'dist',
 'e',
 'erf',
 'erfc',
 'exit',
 'exp',
 'exp1',
 'expm1',
 'fabs',
 'factorial',
 'fib',
 'findprime',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'get_ipython',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'isqrt',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'n1',
 'n2',
 'n3',
 'nan',
 'number',
 'perm',
 'pi',
 'pow',
 'print0ton',
 'prod',
 'quit',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'sys',
 'tan',
 'tanh',
 'tau',
 'time',
 'timedelta',
 'timezone',
 'today',
 'trunc',
 'tzinfo']

In [4]:
print0ton(10)

0
1
2
3
4
5
6
7
8
9

In [5]:
addnum(500,650)

1150

In [6]:
n1=number('tom',123456,80000)
n2=number('mike',652456,75000)
n3=number('henry',854215,95000)

In [7]:
n1.getdata()

tom earns 80000 rupees per month. contact him at 123456

In [8]:
n2.getdata()

mike earns 75000 rupees per month. contact him at 652456

In [9]:
n3.getdata()

henry earns 95000 rupees per month. contact him at 854215

In [13]:
number.highsalary(n1,n2,n3)

henry earns more than tom and mike

In [14]:
fib(20)

0 1 1 2 3 5 8 13

In [15]:
findprime(100)

100 is not a prime number

In [16]:
findprime(3)

3 is a prime number

In [22]:
findprime(int(22//7))

3 is a prime number

In [23]:
from math import *
sqrt(25)

5.0

In [24]:
factorial(5)

120

In [29]:
import datetime
from datetime import *
print(datetime.today())

2021-11-24 17:41:49.518772

In [40]:
today=datetime.now()
print(today)

2021-11-24 17:45:45.518820

In [41]:
print(datetime.isoweekday(today))

3

In [42]:
print(datetime.date(today))

2021-11-24

In [47]:
print(today.day)

24

In [48]:
print(today.year)

2021

In [51]:
print(today.time())

17:45:45.518820

In [56]:
print(today.time().strftime("%H-%M-%S"))

17-45-45

In [58]:
print(today.date().strftime("%m-%d-%Y"))

11-24-2021

In [60]:
print(today.date().strftime("%B-%d-%Y"))

November-24-2021

In [61]:
print(today.date().strftime("%b-%d-%Y"))

Nov-24-2021

In [62]:
print(today.date().strftime("%B-%a-%Y"))

November-Wed-2021

In [65]:
dir(datetime)

['__add__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__ne__',
 '__new__',
 '__radd__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rsub__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 'astimezone',
 'combine',
 'ctime',
 'date',
 'day',
 'dst',
 'fold',
 'fromisocalendar',
 'fromisoformat',
 'fromordinal',
 'fromtimestamp',
 'hour',
 'isocalendar',
 'isoformat',
 'isoweekday',
 'max',
 'microsecond',
 'min',
 'minute',
 'month',
 'now',
 'replace',
 'resolution',
 'second',
 'strftime',
 'strptime',
 'time',
 'timestamp',
 'timetuple',
 'timetz',
 'today',
 'toordinal',
 'tzinfo',
 'tzname',
 'utcfromtimestamp',
 'utcnow',
 'utcoffset',
 'utctimetuple',
 'weekday',
 'year']

In [68]:
import pandas as pd

In [74]:
df=pd.DataFrame({'name':['tom','mike','krish','bob'],'occupation':['lawyer','engineer','analyst','developer']})

In [75]:
df

    name occupation
0    tom     lawyer
1   mike   engineer
2  krish    analyst
3    bob  developer

In [78]:
df.index+=1

In [79]:
df

    name occupation
1    tom     lawyer
2   mike   engineer
3  krish    analyst
4    bob  developer